{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}


    <h3>La</h3>
    {#{% for  in  %}#}
        <h5 class="ml-5"><a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> show article</a></h5>
        <p class="collapse" id="collapseExample"></p>
    {#{% endfor %}#}



{% endblock %}
